<div class="editable-select">
    <strong ng-if="$ctrl.title">{{$ctrl.title}}:</strong>
    <span ng-if="!$ctrl.editted"
          ng-click="$ctrl.toggleEdit()">
        {{$ctrl.getLabel($ctrl.model)}}
        <sup><i class="material-icons">edit</i></sup>
    </span>
    <span ng-if="$ctrl.editted">
        <select name="drugbox-type" ng-model="$ctrl.val" convert-to-number>
          <option ng-repeat="type in $ctrl.options" value="{{type.id}}">{{type.name}}</option>
        </select>
        <button ng-click="$ctrl.toggleEdit()">OK</button>
    </span>
</div>
