.image {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 5px;

  img {
    width: 100%;
    height: 100%;

    margin: 2px;
    padding: 2px;
  }

  :hover {
    background-color: #dedede;
    border: 2px solid #a8a8a8;
  }

  .selected {
    border-bottom: 3px solid grey;
  }
}

#selectButton {
  height: 50px;
  text-align: center;

  border-top: 2px solid grey;

  span {
    vertical-align: middle;
    font-size: 2em;
  }
}

