<div ng-repeat="image in $ctrl.images" class="image" ng-click="$ctrl.select(image)">
    <img ng-src="{{image.url}}" ng-class="{selected: image.id === $ctrl.selected}" />
</div>

<div id="selectButton" ng-click="$ctrl.leave()">
    <span>Vybrat</span>
</div>