<div class="modal-headline">
    Odcházím

    <i class="material-icons">exit_to_app</i>
</div>

<div id="leaving-home-wrapper">
    <span class="length-question">Kdy se vrátíte?</span>

    <div id="length-selection">
        <div class="time-input">
            <div class="radio-button">
                <input type="checkbox" ng-model="$ctrl.timeSelection.PERIOD" />
            </div>
            <div >
                &nbsp;za <radio-row options="$ctrl.times" ng-click="$ctrl.periodClicked()" on-update="$ctrl.periodSelected"></radio-row> hodin
            </div>
        </div>
        <!--
        <div class="time-input">
            <div>
                <input type="checkbox" ng-model="$ctrl.timeSelection.DATE" />
            </div>
            <div class="dt">
                <input type="datetime-local" ng-change="$ctrl.timeSelected(time)" ng-click="$ctrl.timeClicked()" ng-model="time" />
            </div>
        </div>
        -->
    </div>

    <div class="my-button show-drugs" ng-click="$ctrl.countDrugs()">
        <i class="material-icons">check_circle</i>
        <span>Zobrazit léky</span>
    </div>

    <div class="drugs-overview-wrapper" ng-if="$ctrl.showDrugs">
        <drug-timetable pills="$ctrl.pills"></drug-timetable>
    </div>

    <br />
    <div class="my-button show-drugs" ng-click="$ctrl.leave()">
        <i class="material-icons">exit_to_app</i>
        <span>zavřít</span>
    </div>
</div>