#leaving-home-wrapper {
  padding: 30px;

  .length-question {
    font-size: 2em;
  }

  .time-input {
    padding: 10px 0;

    font-size: 1.7em;
    font-weight: bold;

    div {
      display: inline-block;


    }

    .dt {
      margin-left: 46px;
    }
  }

  .show-drugs {
    margin: 5px 0;
    font-size: 1.5em;
    padding: 5px;
  }

  .drugs-overview-wrapper {
    margin-top: 10px;
    width: 100%;
  }
}