<div class="modal-headline">
    Upravit profil
</div>

<div class="edit-body">
    <div>
        <editable-text
                title="'Jméno'"
                model="$ctrl.doctor.name"
                type="text">
        </editable-text>
        <editable-text
                title="'Příjmení'"
                model="$ctrl.doctor.surname"
                type="text">
        </editable-text>
        <editable-text
                title="'Uživatelské jméno'"
                model="$ctrl.doctor.username"
                type="text">
        </editable-text>
        <editable-text
                title="'Heslo'"
                model="$ctrl.doctor.password"
                type="password">
        </editable-text>
        <editable-text
                title="'Kontaktní adresa'"
                model="$ctrl.doctor.contact.address"
                type="text">
        </editable-text>
        <editable-text
                title="'Kontaktní telefon'"
                model="$ctrl.doctor.contact.phone"
                type="text">
        </editable-text>
        <editable-text
                title="'Kontaktní email'"
                model="$ctrl.doctor.contact.email"
                type="text">
        </editable-text>
    </div>
</div>


<br />
<div class="my-button leave-button" ng-click="$ctrl.leave()">
    <i class="material-icons">check</i>
    <span>Ok</span>
</div>