<div class="modal-headline">
    Co by mělo být v krabičce?
</div>

<drugbox patient="$ctrl.patient" filter-used-pills="true"></drugbox>

<br />
<div class="my-button leave-button" ng-click="$ctrl.leave()">
    <i class="material-icons">exit_to_app</i>
    <span>zavřít</span>
</div>