#drugbox-wrapper {
  display: flex;
  flex-direction: row;

  #drugbox {
    flex: 9;

    //margin: 0 2%;

    td {
      border-collapse: collapse;
      border: 1px solid #bfbfbf;

      .drug-name:hover {
        color: black !important;
      }
    }

    .daypart {
      vertical-align: middle;
      border-right: 1px solid #bfbfbf;


      .daypart-name {
        font-weight: bold;
      }
    }
  }

  #drug-info {
    flex: 3;

    background-color: transparent;

    .drug-info-header {
      background-color: transparent;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}