<table class="table">
    <tbody>
    <tr>
        <th colspan="2" id="doctor-contact">
            Kontakt na lékaře
        </th>
    </tr>
    <tr>
        <th>Adresa:</th>
        <td>{{$ctrl.contact.address}}</td>
    </tr>
    <tr>
        <th>Telefon:</th>
        <td>{{$ctrl.contact.phone}}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{$ctrl.contact.email}}</td>
    </tr>
    </tbody>
</table>
