game-modal {
  width: 100px;
  background-color: red;
}

#game-modal-wrapper {
  #game-modal {
    table {
      width: 100%;
      height: 200px;

      td {
        width: 20px;
        height: 20px;
        border: 1px solid black;
      }
    }
  }
}