<div id="game-modal-wrapper">
    <div class="modal-headline">
        Pexeso
    </div>

    <iframe src="http://www.pexeso.net/online-hra?lang=cs&code=13VIJ&size=24&p1name=%C4%8Clov%C4%9Bk" width="100%" height="600px"></iframe>
</div>