<div class="modal-headline">
    Čas na doplnění krabičky
</div>

<div id="fill-drugbox-wrapper">
    <drugbox patient="$ctrl.patient" filter-used-pills="false"></drugbox>
</div>


<br />
<div class="my-button leave-button" ng-click="$ctrl.leave()">
    <i class="material-icons">exit_to_app</i>
    <span>zavřít</span>
</div>