<div class="drug">
    <drug-image
            face="$ctrl.drugInfo.face"
            color="$ctrl.drugInfo.color"></drug-image>

    <div class="drug-name">
        <span>{{$ctrl.drugInfo.name}}</span>
    </div>

</div>
