.drug {
  height: 30px;

  display: inline-block;

  .drug-icon {
    display: inline-block;

    vertical-align: middle;

    width: 40px;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;

    }
  }

  .drug-name {
    display: inline-block;

    height: 100%;

    vertical-align: middle;

    span {
      height: 100%;
      display: inline-block;
      padding: 4px 0;
    }
  }
}