.back {
  width: 40px;
  margin-bottom: 10px;
}

.patient-profile {
  flex-direction: row;
  text-align: center;

  .patient-header {
    text-align: left;
    width: 100%;
    display: inline-block;

    .patient-image-wrapper{
      width: 49%;
      text-align: right;

      display: inline-block;

      padding-right: 15px;

      .patient-image {
        display: inline-block;

        border: 3px solid grey;
        border-radius: 50%;
        overflow: hidden;

        width: 200px;
        height: 200px;

        text-align: center;
        vertical-align: middle;

        img {
          vertical-align: middle;
          height: 200px;
          width: 200px;
        }
      }
    }

    .patient-info {
      font-size: 1.5em;
      padding-left: 15px;

      width: 50%;

      display: inline-block;

      vertical-align: middle;
      text-align: left;

      span i {
        font-size: 1em;
      }

      input {
        width: 200px;
      }

      button {
        border-top: 1px solid grey;
        border-left: 1px solid grey;
        background-color: transparent;
      }
    }
  }

  .section-header {
    width: 100%;
    font-size: 1.7em;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  .section-content {
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 1.2em;
  }

  .patient-drugs {
    width: 100%;
    margin-top: 1em;
  }

  .patient-drug-box {
    width: 100%;
    margin-top: 1em;
  }
}