<div class="container">
    <div class="my-button back" onclick="window.history.go(-1); return false;">
        <i class="material-icons">keyboard_backspace</i>
    </div>

    <div class="patient-profile">
        <div class="patient-header">
            <div class="patient-image-wrapper">
                <div class="patient-image" ng-click="$ctrl.setPatientImage()">
                    <img ng-src="{{$ctrl.patientImageUrl}}"/>
                </div>
            </div>
            <div class="patient-info">
                <editable-text
                        title="'Jméno'"
                        model="$ctrl.patient.name"
                        type="text">
                </editable-text>

                <editable-text
                        title="'Příjmení'"
                        model="$ctrl.patient.surname"
                        type="text">
                </editable-text>

                <editable-text
                        title="'Narozen'"
                        model="$ctrl.patient.birthDate"
                        type="date">
                </editable-text>

                <editable-select
                    title="'Typ krabičky'"
                    model="$ctrl.patient.drugboxType"
                    options="$ctrl.drugboxTypes">
                </editable-select>

                <div>
                    <strong>Věk:</strong> {{$ctrl.getAge()}}
                </div>


                <editable-text
                        title="'Uživatelské jméno'"
                        model="$ctrl.patient.username"
                        type="text">
                </editable-text>


                <editable-text
                        title="'Heslo'"
                        model="$ctrl.patient.password"
                        type="password">
                </editable-text>
            </div>
        </div>

        <div class="patient-drugs">
            <div class="section-header">
                Seznam léků
            </div>
            <div class="section-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Lék</th>
                        <th>Užití</th>
                        <th>Opakování</th>
                        <th>Den</th>
                        <th>Úpravy</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="drugInfo in $ctrl.drugs">
                        <th scope="row">
                            <drug-image
                                face="$ctrl.getDrugData(drugInfo).face"
                                color="$ctrl.getDrugData(drugInfo).color"
                            ></drug-image>
                            <editable-select
                                    model="drugInfo.drug"
                                    options="$ctrl.drugTypes">
                            </editable-select>
                        </th>
                        <td>
                            <editable-select
                                    model="drugInfo.medication"
                                    options="$ctrl.medications">
                            </editable-select>

                        </td>
                        <td>
                            <editable-select
                                    model="drugInfo.repetition"
                                    options="$ctrl.periodNameObjects">
                            </editable-select>
                        </td>
                        <td>
                            <editable-select
                                    ng-if="drugInfo.repetition === $ctrl.periodNames.WEEKLY"
                                    model="drugInfo.day"
                                    options="$ctrl.dayObjects">
                            </editable-select>
                        </td>
                        <td>
                            <div class="my-button user-action-button" ng-click="$ctrl.deleteDrug($index)">
                                <i class="material-icons">delete</i>
                                <span>smazat</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="my-button add-patient" ng-click="$ctrl.addDrugs()">
                    <i class="material-icons">add</i>
                    <span>přidat lék</span>
                </div>
            </div>
        </div>

        <div class="patient-drug-box">
            <div class="section-header">
                Aktuální stav krabičky
            </div>

            <div class="section-content">
                <drugbox patient="$ctrl.patient" filter-used-pills="false"></drugbox>
            </div>
        </div>
    </div>
</div>