$radius: 17px;
$filler-color: #919191;

#radio-row-wrapper {
  display: inline-block;
  margin: 0 10px;

  border: 2px solid $filler-color;
  border-radius: $radius;

  div {
    display: inline-block;
    border-right: 2px solid #919191;
    width: 60px;
    text-align: center;
  }

  div:hover {
    background-color: #d2d2d2;
  }

  div:first-child {
    width: $radius;
    border-radius: $radius 0 0 $radius;
  }

  div:first-child:hover {
    background-color: transparent;
  }

  div:last-child {

    width: $radius;
    border: none;
    border-radius: 0 $radius $radius 0;
  }

  div:last-child:hover {
    background-color: transparent;
  }

  .selected {
    background-color: #afafaf;
  }
}