<div id="radio-row-wrapper">
    <div>&nbsp;</div><div ng-repeat="time in $ctrl.options" ng-class="{selected: $ctrl.selected === time}" ng-click="$ctrl.buttonSelected(time)">{{time}}</div><div>&nbsp;</div>
</div>