<div class="container patient-main">
    <div id="time-info">
        <div id="drug-timeline">
            <drug-timeline pills="$ctrl.pills"></drug-timeline>
        </div>

        <div id="drug-timetable">
            <drug-timetable pills="$ctrl.pills"></drug-timetable>
        </div>
    </div>

    <div id="action-buttons">
        <div id="patient-leaving" ng-click="$ctrl.leavingHome()">
            <div>Odcházím z domu</div>
        </div>

        <div id="play-game" ng-click="$ctrl.playGame()">
            <div>Hrát hru</div>
        </div>

        <div id="drugbox-state" ng-click="$ctrl.showDrugbox()">
            <div>Zobrazit krabičku</div>
        </div>
    </div>

    <div id="my-doctor-wrapper">
        <div id="my-doctor">
            <doctor-info doctor-id="$ctrl.patient.adminId"></doctor-info>
        </div>
    </div>

    <div class="debug-row">
        DEBUG:
        <button ng-click="$ctrl.takePills()">Čas užití</button>
        <button ng-click="$ctrl.fillDrugbox()">Doplň krabičku</button>
    </div>
</div>

