.container {
  display: flex;
  flex-direction: column;

  #time-info {
    display: flex;
    flex: 2;

    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 5px;

    #drug-timeline, #drug-timetable {
      height: 100%;
      padding: 5px;
    }

    #drug-timeline {
      flex: 3;
    }

    #drug-timetable {
      flex: 2;
      overflow: hidden;
    }
  }

  #action-buttons {
    display: flex;
    flex: 1;
    margin-bottom: 5px;

    #patient-leaving, #play-game, #drugbox-state {
      height: 100%;
      padding: 5px;
      flex: 1;

      border: 2px solid grey;
      border-radius: 10px;

      text-align: center;

      font-size: 2.5em;

      div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    #patient-leaving:hover {
      border-radius: 0;
      background-color: #dcdcdc;
    }

    #play-game:hover {
      border-radius: 0;
      background-color: #dcdcdc;
    }

    #drugbox-state:hover {
      border-radius: 0;
      background-color: #dcdcdc;
    }

    #play-game, #drugbox-state {
      margin-left: 5px;
    }
  }

  #my-doctor-wrapper {
    display: flex;
    flex: 2;

    #my-doctor {
      height: 100%;
      padding: 5px;
      flex: 1;

      border: 2px solid grey;
      border-radius: 10px;
    }
  }

  .debug-row {
    margin: 10px 0;
  }
}

.patient-main {
  height: 90%;
}