<table class="table">
    <div style="width: 100%; font-weight: bold; font-size: 1.5em; text-align: center; margin-top: 20px" ng-if="!$ctrl.pills || $ctrl.pills.length === 0">
        V zadané době nemáte žádné léky
    </div>

    <tbody>
    <tr ng-repeat="drugInfo in $ctrl.pills">
        <td>{{drugInfo.medication}}</td>
        <th scope="row">
            <drug drug-data="drugInfo"></drug>
        </th>
    </tbody>
</table>
