<div id="login">
    <h1>Přihlaste se prosím</h1><br>
    <input type="text" name="user" placeholder="Username" ng-model="username">
    <input type="password" name="pass" placeholder="Password" ng-model="password">
    <input type="submit" name="login" class="login loginmodal-submit" value="Přihlásit se" ng-click="$ctrl.login(username, password)">

    <div id="badCredentials" ng-if="$ctrl.badCredentials">
        <span>Špatné jméno nebo heslo</span>
    </div>


    <div class="login-help" ng-click="$ctrl.newUser()">
        <a href="#">Registrace</a>
    </div>
    <div class="login-help">
        <a href="#">Zapomenuté heslo</a>
    </div>

    <div class="debug-row">
        DEBUG:
        <button ng-click="$ctrl.loginMockUser()">Login user</button>
        <button ng-click="$ctrl.loginMockAdmin()">Login admin</button>
    </div>
</div>