<div class="modal-headline">
    Čas na léky
</div>

<div id="take-pill-wrapper">
    <span class="take-pill-message">
        Vezměte si následující léky
    </span>
    <drug-timetable pills="$ctrl.pills"></drug-timetable>

    <div class="my-button took-pills" ng-click="$ctrl.leave()">
        <i class="material-icons">check_circle</i>
        <span>Vzal jsem si léky</span>
    </div>
</div>