#take-pill-wrapper {
  padding: 20px;

  .take-pill-message {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    text-align: center;
  }

  .took-pills {
    margin: 5px 0;
    font-size: 1.5em;
    padding: 5px;
  }
}