@import '../../sass/colors';

.row {
  //border: 1px solid black;
}

.btn {
  border: 1px solid black;
  border-radius: 3px;

  background-color: $buttonColor;
}

.add-patient {
  padding: 6px 0;
  margin-bottom: 10px;

  span, i {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.user-action-button {
  box-shadow: none;
  border: none;
  display: block;
  text-align: left;
  width: auto;
}

.user-action-button:hover {
  color: grey;
}

table {
  font-size: 1.3em;

  tr:hover {
    background-color: rgba(240, 240, 240, 0.45);
  }
}