<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Příjmení</th>
            <th>Jméno</th>
            <th>Věk</th>
            <th>Úpravy</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="patient in $ctrl.patients" ng-click="$ctrl.editPatient(patient)">
            <th scope="row">{{patient.surname}}</th>
            <td>{{patient.name}}</td>
            <td>{{$ctrl.getAge(patient)}}</td>
            <td>
                <div class="my-button user-action-button" ng-click="$ctrl.editPatient(patient)">
                    <i class="material-icons">edit</i>
                    <span>upravit</span>
                </div>
                <div class="my-button user-action-button" ng-click="$ctrl.removePatient(patient)">
                    <i class="material-icons">remove</i>
                    <span>smazat pacienta</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="my-button add-patient" ng-click="$ctrl.addPatient()">
        <i class="material-icons">add</i>
        <span>pacient</span>
    </div>
</div>