<div id="drugbox-wrapper">
    <div id="drugbox">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Po</th>
                <th>Út</th>
                <th>St</th>
                <th>Čt</th>
                <th>Pá</th>
                <th>So</th>
                <th>Ne</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="dayPart in $ctrl.drugbox track by $index">
                <td class="daypart">
                    <div>
                        <span class="daypart-name">{{$ctrl.getDaypartLabelFor($index)}}</span><br />
                        {{$ctrl.getDaypartFrom($index)}} - {{$ctrl.getDaypartTo($index)}}
                    </div>
                </td>

                <td ng-repeat="day in dayPart track by $index">
                    <div
                            ng-repeat="drugInfo in day.drugs track by $index"
                            ng-click="$ctrl.showDetail(drugInfo)"
                            class="drug-name">
                        <drug drug-data="drugInfo"></drug>
                    </div>
                </td>
            </tbody>
        </table>
    </div>

    <div id="drug-info" ng-if="$ctrl.displayedDetail">
        <div class="drug-info-header">
            <drug drug-data="$ctrl.displayedDetail"></drug>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <td></td>
                <td><span ng-style="{color: $ctrl.displayedDetail.drug.color, fontWeight: 'bold'}">
                    {{$ctrl.displayedDetail.drug.face.toUpperCase()}}
                </span></td>
            </tr>
            <tr>
                <th>Čas</th>
                <td>{{$ctrl.displayedDetail.medication}}</td>
            </tr>
            <tr>
                <th>Opakování</th>
                <td>{{$ctrl.getNameForPeriod($ctrl.displayedDetail.repetition)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>