drug-timeline {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  #image {
    height: 100%;
    flex: 1;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    //background-color: red;
    padding: 3%;

    vertical-align: bottom;

    img {
      width: 100%;

      max-width:100%;
      max-height:100%;
    }
  }

  #timeline {
    height: 100%;
    width: 100%;

    flex: 2;
  }
}