<div>
    <strong>{{$ctrl.title}}:</strong>
    <span ng-if="!$ctrl.editted"
          ng-click="$ctrl.toggleEdit()">
        <span ng-if="$ctrl.type === 'date'">{{$ctrl.val | date: 'dd.MM.yyyy'}}</span>
        <span ng-if="$ctrl.type === 'password'">{{$ctrl.asterixs($ctrl.val)}}</span>
        <span ng-if="$ctrl.type !== 'date' && $ctrl.type !== 'password'">{{$ctrl.val}}</span>
        <sup><i class="material-icons">edit</i></sup>
    </span>
    <span ng-if="$ctrl.editted">
        <span ng-if="$ctrl.type === 'date'">
            <input type="date" title="$ctrl.title" placeholder="dd.MM.yyyy" ng-model="$ctrl.val"/>
        </span>
        <span ng-if="$ctrl.type === 'text'">
            <input type="text" title="$ctrl.title" ng-model="$ctrl.val"/>
        </span>
        <span ng-if="$ctrl.type === 'password'">
            <input type="password" title="$ctrl.title" ng-model="$ctrl.val"/>
        </span>

        <button ng-click="$ctrl.toggleEdit()">OK</button>
    </span>
</div>

