[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.clickable {
  cursor: pointer;
}
