@import "../../dependencies/bower_components/bootstrap/dist/css/bootstrap.css";
@import "../../dependencies/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css";
@import "../../dependencies/bower_components/bootstrap-material-design/dist/css/ripples.min.css";

@import "./common";
@import "./colors";

html {
  background: repeating-linear-gradient(
                  45deg,
                  $stripeColorOne,
                  $stripeColorOne 10px,
                  $stripeColorTwo 10px,
                  $stripeColorTwo 20px
  );

  height: 100%;
}

body {
  background-color: transparent;
  height: 100%;
}

ui-view, st-patient{
  height: 100%;
}


.container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 90%;

  margin: 10px 5% 0 5%;
  padding: 2% 2%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;

  background-color: $headerColor;
  color: black;

  .navbar-brand {
    font-size: 2em;
    font-weight: bold;
    font-family: Arial sans-serif;
  }
}

.spacer {
  height: 50px;
}

.my-button {
  text-align: center;
  border: 1px solid grey;
  box-shadow: grey 0 2px 2px 0;

  span, i {
    vertical-align: middle;
  }
}

.my-button:active {
  box-shadow: none;
}

.user-account {
  text-align: right;
  margin-right: 10px;
  height: 50px;

  padding-top: 4px;

  span, i {
    vertical-align: middle;
  }

  span {
    font-size: 2em;
  }

  i {
    font-size: 3em;
  }
}

.modal-headline {
  width: 100%;
  text-align: center;
  padding-top: 1%;
  font-weight: bold;
  font-size: 2em;
  background-color: #0015d0;
  color: white;
  letter-spacing: 1px;
}

.leave-button {
  height: 40px;
  padding: 7px 0;
}